
<div *ngIf="task">
    <h2><span jhiTranslate="taskrApp.task.detail.title">Task</span> {{task.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="taskrApp.task.dispatchDate">Dispatch Date</span></dt>
        <dd>
            <span>{{task.dispatchDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="taskrApp.task.readDate">Read Date</span></dt>
        <dd>
            <span>{{task.readDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="taskrApp.task.userLogin">User Login</span></dt>
        <dd>
            <span>{{task.userLogin}}</span>
        </dd>
        <dt><span jhiTranslate="taskrApp.task.userEmail">User Email</span></dt>
        <dd>
            <span>{{task.userEmail}}</span>
        </dd>
        <dt><span jhiTranslate="taskrApp.task.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'taskrApp.TaskStatus.' + task.status}}">{{task.status}}</span>
        </dd>
        <dt><span jhiTranslate="taskrApp.task.title">Title</span></dt>
        <dd>
            <span>{{task.title}}</span>
        </dd>
        <dt><span jhiTranslate="taskrApp.task.body">Body</span></dt>
        <dd>
            <span>{{task.body}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'task/'+ task.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary"
            *ngIf="displaySentTasks">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>

    <button type="button" class="btn btn-primary" *ngIf="displaySentTasks && task.isDraft" (click)="changeStatus()">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="taskApp.task.send"> Send</span>
    </button>

    <button type="button" class="btn btn-primary" *ngIf="!displaySentTasks && task.isRead" (click)="changeStatus()">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="taskApp.task.start"> Start</span>
    </button>

    <button type="button" class="btn btn-primary" *ngIf="!displaySentTasks && task.isInProgress" (click)="changeStatus()">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="taskApp.task.finish"> Finish</span>
    </button>
</div>
