
<div *ngIf="job">
    <h2><span jhiTranslate="taskrApp.job.detail.title">Job</span> {{job.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="taskrApp.job.title">Title</span></dt>
        <dd>
            <span>{{job.title}}</span>
        </dd>
        <dt><span jhiTranslate="taskrApp.job.minSalary">Min Salary</span></dt>
        <dd>
            <span>{{job.minSalary}}</span>
        </dd>
        <dt><span jhiTranslate="taskrApp.job.maxSalary">Max Salary</span></dt>
        <dd>
            <span>{{job.maxSalary}}</span>
        </dd>
        <dt><span jhiTranslate="taskrApp.job.groupName">Group Name</span></dt>
        <dd>
            <span>{{job.groupName}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'job/'+ job.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
