<div>
    <h2>
        <span jhiTranslate="taskrApp.worker.home.title">Workers</span>
        <button class="btn btn-primary float-right jh-create-entity create-worker" [routerLink]="['/', { outlets: { popup: ['worker-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="taskrApp.worker.home.createLabel">
            Create new Worker
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="workers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="taskrApp.worker.name">Name</span></th>
            <th><span jhiTranslate="taskrApp.worker.surname">Surname</span></th>
            <th><span jhiTranslate="taskrApp.worker.userLogin">User Login</span></th>
            <th><span jhiTranslate="taskrApp.worker.userEmail">User Email</span></th>
            <th><span jhiTranslate="taskrApp.worker.jobId">Job Id</span></th>
            <th><span jhiTranslate="taskrApp.worker.jobTitle">Job Title</span></th>
            <th><span jhiTranslate="taskrApp.worker.authorityLvl">Authority Lvl</span></th>
            <th><span jhiTranslate="taskrApp.worker.city">City</span></th>
            <th><span jhiTranslate="taskrApp.worker.street">Street</span></th>
            <th><span jhiTranslate="taskrApp.worker.house">House</span></th>
            <th><span jhiTranslate="taskrApp.worker.apartment">Apartment</span></th>
            <th><span jhiTranslate="taskrApp.worker.postalCode">Postal Code</span></th>
            <th><span jhiTranslate="taskrApp.worker.post">Post</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let worker of workers ;trackBy: trackId">
                <td><a [routerLink]="['../worker', worker.id ]">{{worker.id}}</a></td>
                <td>{{worker.name}}</td>
                <td>{{worker.surname}}</td>
                <td>{{worker.userLogin}}</td>
                <td>{{worker.userEmail}}</td>
                <td>{{worker.jobId}}</td>
                <td>{{worker.jobTitle}}</td>
                <td>{{worker.authorityLvl}}</td>
                <td>{{worker.city}}</td>
                <td>{{worker.street}}</td>
                <td>{{worker.house}}</td>
                <td>{{worker.apartment}}</td>
                <td>{{worker.postalCode}}</td>
                <td>{{worker.post}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../worker', worker.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'worker/'+ worker.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'worker/'+ worker.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
